In [ ]:
Phân tích suy diễn 

Tính toán => kết quả trên sample(tập mẫu) => kết luận => Population ( từ những kết luận liệu kết luận đó có phù hợp 
                                                                      với Population (tổng thể không) )
Bước 1: xác định được Ho
Bước 2: Điều kiện ( - Số lượng mẫu đạt được ít nhất là bao nhiêu
                    - Sự phân phối của số liệu (
                                                + Phân phối normal
                                                + Phân phối student
                                             )
                  )

Từ B1 và B2 => Chạy mô hình suy diễn có 2 thông số cần thiết lập : (
                                        - Độ tin cậy           ( 90% 95% 99%)
                                        - Mức sai lần (anpha)  ( 10%  5%  1%)
                                     )
=> sau khi chạy mô hình xong trả về p-value 
   nếu p-value < giá trị anpha => Reject Ho
   nếu p-value > anpha => Accept Ho

Các dạng toán: 
    1.One Sample T-test ( n < 30 )
      Ho: Trung bình = x
      Điều kiện: n (số lượng mẫu) < 30
    2.Two Sample T-test ( n < 30 )
        Ho: trung bình x = trung bình y
    3.One Sample Z-test ( n >= 30 )
    4.Two Sample Z-test ( n >= 30 )
    5.Kiểm định tương quan ( định lượng + định lượng)
     -   < 0.5         -> tương quan yếu
     -   0.5 - 0.65    -> tương quan bình thường
     -   0.65 - 0.75   -> tương quan mạnh
     -   0.75 - 0.85   -> tương quan tốt
     -   0.85 - 0.95   -> tương quan rất tốt
          ... (hình trong đt)
       giá trị tương quan trên mẫu (n peanson) =  -> Ho: n = 0
    6.Kiểm định Fisher Test ( định tính + định tính )
      Ho: các biến số là độc lập
      => cnosstab
    7.Kiểm định Chi-square ( định tính + định tính )
    8.Anova( One way ) (định tính + định lượng)
    9.Anova( Two way )  (nhóm,phânloại)

In [1]:
import pandas as pd
import seaborn as sns
#Tai Du Lieu Len Data Frame, dat ten la df
df = pd.read_csv('dulieuxettuyendaihoc.csv',header = 0, delimiter = ',', encoding = 'utf-8')

In [2]:
df = df[['T5','T6','GT','DT','KV','KT','NGONNGU','TOANLOGICPHANTICH','GIAIQUYETVANDE','NGAYTHI','DINHHUONGNGHENGHIEP']]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   T5                   100 non-null    float64
 1   T6                   100 non-null    float64
 2   GT                   100 non-null    object
 3   DT                   3 non-null      float64
 4   KV                   100 non-null    object
 5   KT                   100 non-null    object
 6   NGONNGU              100 non-null    float64
 7   TOANLOGICPHANTICH    100 non-null    float64
 8   GIAIQUYETVANDE       100 non-null    float64
 9   NGAYTHI              100 non-null    object
 10  DINHHUONGNGHENGHIEP  100 non-null    object
dtypes: float64(6), object(5)
memory usage: 8.7+ KB

In [4]:
df.rename(columns={'TOANLOGICPHANTICH': 'LOGIC', 
                   'GIAIQUYETVANDE': 'UNGXU', 
                   'DINHHUONGNGHENGHIEP': 'HUONGNGHIEP'}, inplace=True)
df.head(10)

    T5   T6 GT  DT   KV  KT  NGONNGU  LOGIC  UNGXU    NGAYTHI HUONGNGHIEP
0  7.4  6.9  F NaN  2NT  A1     3.25   3.25   4.50  12/7/2018          No
1  3.0  4.0  M NaN    1   C     6.00   4.00   3.50  12/7/2018         Yes
2  4.8  5.7  M NaN    1   C     5.00   6.75   4.00  12/7/2018          No
3  6.1  7.4  M NaN    1  D1     4.25   4.25   5.25  12/7/2018          No
4  6.8  8.0  M NaN  2NT   A     4.25   4.50   5.00  12/7/2018          No
5  8.5  7.8  M NaN    1  D1     1.50   4.00   6.00  12/7/2018          No
6  5.4  5.3  F NaN    2   C     6.50   6.75   5.25  12/7/2018         Yes
7  8.5  8.3  F NaN    2  D1     3.75   4.50   4.25  12/7/2018         Yes
8  7.7  7.7  F NaN    1  D1     3.50   3.50   6.75  12/7/2018         Yes
9  7.5  6.9  F NaN    1  D1     4.00   4.75   5.50  12/7/2018         Yes

In [5]:
# Xoa Bo Cac Dong Du Lieu Rong
df.dropna(how='all')
#Xoa bo cac dong bi trung
df.drop_duplicates()

     T5   T6 GT  DT   KV  KT  NGONNGU  LOGIC  UNGXU    NGAYTHI HUONGNGHIEP
0   7.4  6.9  F NaN  2NT  A1     3.25   3.25   4.50  12/7/2018          No
1   3.0  4.0  M NaN    1   C     6.00   4.00   3.50  12/7/2018         Yes
2   4.8  5.7  M NaN    1   C     5.00   6.75   4.00  12/7/2018          No
3   6.1  7.4  M NaN    1  D1     4.25   4.25   5.25  12/7/2018          No
4   6.8  8.0  M NaN  2NT   A     4.25   4.50   5.00  12/7/2018          No
..  ...  ... ..  ..  ...  ..      ...    ...    ...        ...         ...
95  7.9  6.6  F NaN    1   C     5.25   1.50   6.25  7/20/2022         Yes
96  5.5  5.7  F NaN    1   C     5.25   3.75   4.75  7/20/2022          No
97  9.0  8.5  M NaN  2NT   C     7.00   8.00   4.00  7/20/2022         Yes
98  4.1  4.3  M NaN    1   C     5.00   3.50   5.50  7/20/2022          No
99  5.6  5.1  M NaN  2NT   C     5.25   2.50   4.25  7/20/2022         Yes

[100 rows x 11 columns]

In [7]:
# ONE SAMPLE T-TEST
# Mục đích: Kiểm định trung bình của một biến số (định lượng) có bằng một giá trị
# Ho: mean = x
#1.One Sample T-test
#       Ho: Trung bình = x
#       Điều kiện: n (số lượng mẫu) < 30
#       Ho: điểm tb logic khối c = 4.0
#       p-value = 0.66 > anpha (0.05)
#       => chấp nhận Ho
# Câu 1: Hãy kiểm tra xem LOGIC thí sinh khối C có bằng 4.0
dfKhoiC = df.loc[df['KT'] == 'C']
dfKhoiC['LOGIC']
dfKhoiC['LOGIC'].describe()
import scipy.stats as stats
# Với one sample T-test thì giả thiết Ho: muy = 4.0
# Mặc định mức tin cậy là 95% và mức sai lầm là 5%
stats.ttest_1samp(dfKhoiC['LOGIC'], popmean=4.0)

TtestResult(statistic=0.44599723713991907, pvalue=0.6629370899710998, df=13)

In [8]:
# Bài tập tương tự: Hãy kiểm tra xem có phải điểm NGONNGU
# của thí sinh thi khối C có là 6.5 hay không
# Ho: trung bình ngôn ngữ khối C = 6.5
# p-value = 0.001 < anpha(0.05)
# => không chấp nhận Ho
stats.ttest_1samp(dfKhoiC['LOGIC'], popmean=6.5)

TtestResult(statistic=-4.357049932059217, pvalue=0.0007768157239033906, df=13)

In [9]:
#     2.Two Sample T-test ( n < 30)
#         Ho: trung bình x = trung bình y
#         Ho: trung bình điểm logic khối C = trung bình điểm NGONNGU khối C
#         p-value = 0.31 > (0.05)
#         => chấp nhận Ho
# Câu 2: Hãy kiểm tra xem trung bình điểm thi LOGIC và
# trung bình điểm thi UNGXU của thí sinh thi khối C có bằng nhau không?
# Ho: mean_LOGIC - mean_UNGXU = 0
dfKhoiC = df.loc[df['KT'] == 'C']
stats.ttest_ind(dfKhoiC['LOGIC'], dfKhoiC['UNGXU'], equal_var=True)

Ttest_indResult(statistic=-1.0329196014245297, pvalue=0.3111543826061086)

In [10]:
#         Ho: trung bình điểm logic khối C = trung bình điểm NGONNGU khối C
#         p-value = 0.01 < (0.05)
#         =>không chấp nhận Ho
# Kiểm tra xem trung bình UNGXU có bằng trung bình NGONNGU cho
dfKhoiC = df.loc[df['KT'] == 'C']
stats.ttest_ind(dfKhoiC['NGONNGU'], dfKhoiC['UNGXU'], equal_var=True)

Ttest_indResult(statistic=2.6321295849540447, pvalue=0.014085909192033954)

In [15]:
# 3.One Sample Z-test ( n >= 30 )
# Ho: trung bình điểm toán học kì 2 lớp 12 =  8.0
# p-value: 6.29 * 10^15
from statsmodels.stats.weightstats import ztest as ztest
# Hãy kiểm tra xem trung bình điểm toán học kì 2 lớp 12 có bằng 8.0
ztest(df['T6'], value=8.0)
#Note: e-15 = 10^-15

(-7.797828845339864, 6.298135014120743e-15)

In [16]:
# Ho: điểm trung bình toán học kì 1 = điểm trung bình toán học kì 2 
# p-value = 0.27 > 0.05
# => chấp nhận Ho
# Hãy kiểm tra xem điểm trung bình toán học kì 1
# và học kì 2 năm lớp 12 có bằng nhau không
ztest(df['T5'], df['T6'], value=0)

(-1.094138573502891, 0.273894207026412)

In [18]:
#5.Kiểm định tương quan ( định lượng + định lượng) (bác bỏ -> có tương quan và ngược lại )
#  giá trị tương quan trên mẫu (n peanson) = 0.77 -> Ho: n =  0 
#                                                     p-value = 1.48 * 10^-21
#                                                    => không chấp nhận Ho
from scipy.stats.stats import pearsonr
# Câu 5: Kiểm tra xem điểm toán học kì 1 và học kì 2 năm lớp 12 có tương quan không?
pearsonr(df['T5'], df['T6'])

/var/folders/nn/jznr73254x75wkjtt756z8_c0000gn/T/ipykernel_41669/2671023846.py:2: DeprecationWarning: Please use `pearsonr` from the `scipy.stats` namespace, the `scipy.stats.stats` namespace is deprecated.
  from scipy.stats.stats import pearsonr

PearsonRResult(statistic=0.7786831657869807, pvalue=1.484640721627447e-21)

In [19]:
# Sinh viên làm tương tự cho T6 và LOGIC có tương quan hay không?
#  giá trị tương quan trên mẫu (n peanson) = 0.3 -> Ho: n =  0 
#                                                     p-value = 0.002 < 0.05
#                                                    => không chấp nhận Ho
pearsonr(df['T6'], df['LOGIC'])

PearsonRResult(statistic=0.3014895536189789, pvalue=0.0023017763060122327)

In [20]:
# Sinh viên làm tương tự cho T5 và LOGIC có tương quan hay không?
#  giá trị tương quan trên mẫu (n peanson) = 0.18 -> Ho: n =  0 
#                                                     p-value = 0.066 > 0.05
#                                                    => chấp nhận Ho (nghĩa là không tương quan)
pearsonr(df['T5'], df['LOGIC'])

PearsonRResult(statistic=0.18464661226012738, pvalue=0.06590059130545517)

In [23]:
#6.Kiểm định Fisher Test ( định tính + định tính )
#       Ho: định hướng nghề nghiệp và giới tính là hai biến số độc lập 
#       => crosstab
#.      => p-value = 0.22 > 0.05
#.      => chấp nhận Ho
import scipy.stats as stats

# Hãy kiểm tra xem có sự phụ thuộc nào giữa việc sinh viên có định hướng nghề nghiệp
# và giới tính khi thí sinh đăng ký dự thi hay không
crosdata = pd.crosstab(df['GT'], [df['HUONGNGHIEP']], rownames=['GT'], colnames=['HUONGNGHIEP'])
crosdata

HUONGNGHIEP  No  Yes
GT
F            23   25
M            32   20

In [24]:
odd_ratio, p_value = stats.fisher_exact(crosdata)
print('odd ratio is : ' + str(odd_ratio))
print('p_value is : ' + str(p_value))

odd ratio is : 0.575
p_value is : 0.22763927303454412

In [25]:
#7.Kiểm định Chi-square ( định tính + định tính )
# Ho: khối thi và khu vực là hai biến độc lập
# p-value = 0.02 < 0.05
# => không chấp nhận Ho (chứng tỏ hai biến phụ thuộc vào nhau)
from scipy.stats import chi2_contingency
# Hãy kiểm tra xem có sự phụ thuộc nào giữa khối thi và khu vực khi đăng ký dự thi hay không
crosdata = pd.crosstab(df['KV'], [df['KT']], rownames=['KV'], colnames=['KT'])
crosdata

KT    A  A1  B  C  D1
KV
1    29   2  8  8  13
2     9   0  0  2   8
2NT  11   4  1  4   1

In [26]:
stat, p, dof, expected = chi2_contingency(crosdata)
 
# interpret p-value
alpha = 0.05
print("p value is " + str(p))
if p <= alpha:
    print('Dependent (reject H0)')
else:
    print('Independent (H0 holds true)')

p value is 0.02012461887796485
Dependent (reject H0)

In [27]:
# GT và KT có mối quan hệ hay không?
# Ho: khối thi và giới tính là hai biến độc lập
# p-value = 0.005 < 0.05
# => không chấp nhận Ho (chứng tỏ hai biến phụ thuộc vào nhau)
from scipy.stats import chi2_contingency
crosdata = pd.crosstab(df['GT'], [df['KT']], rownames=['GT'], colnames=['KT'])
crosdata

KT   A  A1  B  C  D1
GT
F   15   5  4  8  16
M   34   1  5  6   6

In [28]:
stat, p, dof, expected = chi2_contingency(crosdata)
 
# interpret p-value
alpha = 0.05
print("p value is " + str(p))
if p <= alpha:
    print('Dependent (reject H0)')
else:
    print('Independent (H0 holds true)')

p value is 0.005044752209452435
Dependent (reject H0)

In [29]:
#     8.Anova( One way ) (định tính + định lượng)
#     9.Anova( Two way )  (nhóm,phânloại) 
# Điểm toán học kì 2 lớp 12 có phụ thuộc vào giới tính không
import statsmodels.api as sm
from statsmodels.formula.api import ols


model = ols('T6 ~ GT', data=df).fit()
aov_table = sm.stats.anova_lm(model, typ=1)
aov_table

# Ho: Trung bình điểm T6 / nhóm nam = Trung bình điểm T6 / nhóm nữ 
# p-value: 0.36 > 0.05
# => Chấp nhận Ho (hai biến độc lập không phụ thuộc nhau)

            df     sum_sq  mean_sq         F    PR(>F)
GT         1.0    1.55201  1.55201  0.833769  0.363426
Residual  98.0  182.42109  1.86144       NaN       NaN

In [37]:
# Điểm LOGIC có phụ thuộc vào khu vực hay không
# Ho: TB điểm LOGIC 1 = TB điểm LOGIC 2 = TB điểm LOGIC 2NT
# p-value = 0.06 > 0.05
import statsmodels.api as sm
from statsmodels.formula.api import ols

model = ols('LOGIC ~ KV', data=df).fit()
aov_table = sm.stats.anova_lm(model, typ=1)
aov_table
# Điểm UNGXU có phụ thuộc khối thi hay không

# (Xem lại chỗ này)

            df      sum_sq   mean_sq         F    PR(>F)
KV         2.0    6.053398  3.026699  2.790934  0.066299
Residual  97.0  105.194102  1.084475       NaN       NaN

In [31]:
# Hãy cho biết điểm LOGIC có phụ thuộc vào loại GT trên từng nhóm KV hay không
# Performing two-way ANOVA
model = ols('LOGIC ~ GT + KV + GT:KV',data=df).fit()
result = sm.stats.anova_lm(model, type=2)
 
# Print the result
print(result)
# dòng 1: Logic -> GT : không phụ thuộc
# dòng 2: Logic -> KV : phụ thuộc
# dòng 3: Logic: - Female : - 1
#                           - 2
#                           - 3
                    
#                - Male:    - 1
#                           - 2
#                           - 3

            df     sum_sq   mean_sq         F    PR(>F)
GT         1.0   3.998401  3.998401  3.853364  0.052602
KV         2.0   8.561314  4.280657  4.125382  0.019173
GT:KV      2.0   1.149707  0.574854  0.554002  0.576510
Residual  94.0  97.538077  1.037639       NaN       NaN

In [34]:
# Hãy cho biết điểm LOGIC có phụ thuộc vào loại GT trên từng nhóm KV hay không
# Performing two-way ANOVA
model = ols('NGONNGU ~ KV + KT + KV:KT',data=df).fit()
result = sm.stats.anova_lm(model, type=2)
 
# Print the result
print(result)

# Phân tích xem NGONNGU có phụ thuộc trên nhóm KV theo từng loại KT hay không


# Phân tích xem NGONNGU có phụ thuộc trên nhóm KV theo từng loại KT hay không
# dòng 1: NGONNGU -> KV : phụ thuộc
# dòng 2: NGONNGU -> KT : phụ thuộc
# dòng 3: NGONNGU: - Female : - 1
#                             - 2
#                             - 3
                    
#                - Male:    - 1 
#                           - 2
#                           - 3

            df      sum_sq    mean_sq          F        PR(>F)
KV         2.0    4.237274   2.118637   1.416009  2.482173e-01
KT         4.0   65.431143  16.357786  10.932867  3.150065e-07
KV:KT      8.0    1.486487   0.185811   0.124188  9.981082e-01
Residual  87.0  130.169640   1.496203        NaN           NaN

# PHÂN TÍCH HỒI QUY

In [ ]:
# Mục đích: Phân tích sự tác động( ảnh hưởng ) của các yếu tố ( biến số ) đến một mục tiêu
                 y = f(x) (biến x: có tên gọi khác là: - Giải thích
                                                       - Độc lập
                           biến y: có tên gọi khác là: - Mục tiêu
                                                       - Phụ thuộc
                          )
    Hàm hồi quy tuyến tính: Y = A0 + A1 * X1 + A2 *X2+...+ An * Xn

In [38]:
# Hãy cho biết sự ảnh hưởng của điểm học kì 1 năm lớp 12 đến điểm học kì 2 năm lớp 12

# T6 = f(T5)
# Note: Mô hình OLS 
# T6 = A0 + A1 * T5 + E(ét xi lanh) (phần dư, phần chênh lệch)  
#                      (A0: intencept: hệ số tự do
#                       A1: Coficent  
#                      )

import statsmodels.api as sm
#adding a constant
X_with_constant = sm.add_constant(df[["T5"]].values)
y = df[['T6']].values
#performing the regression
result = sm.OLS(y, X_with_constant).fit()
# Result of statsmodels
print(result.summary())
#Note:
# R-Square (Adj R-Squared): 0.606 (thể hiện biến T5 60.6% sự thay đổi của biến T6) => biến T5 ảnh hưởng 60.6% lên T6
# Prob (F-statistic) : 1.48*10^-21 < anpha(0.05) => cho thấy dùng phương trình(mô hình) giải thích cho T6 là phù hợp
# const: 2.1130 (thể hiện A0)
# x1: 0.7182    (Thể hiện A1)
# => T6 = 2.1130 + 0.7128 * T5

# ví dụ: T5 = 7 
# => T6 = 7.1026 
#   (Predicted) T6: là giá trị dự báo 
# Nếu T5 tăng 1
# T6 tăng 0.7182
# T6 = 8.0 thì sẽ lênh chệch với phần dự báo phần chênh lệch sẽ là ét si lanh(E)

# P>|t|: 
# const          0.000
# x1             0.000 < anpha (0.05) Cho thấy sự phù hợp khi sử dụng mô hình đó

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.606
Model:                            OLS   Adj. R-squared:                  0.602
Method:                 Least Squares   F-statistic:                     151.0
Date:                Sun, 10 Sep 2023   Prob (F-statistic):           1.48e-21
Time:                        10:45:55   Log-Likelihood:                -125.76
No. Observations:                 100   AIC:                             255.5
Df Residuals:                      98   BIC:                             260.7
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          2.1130      0.402      5.257      0.000       1.315       2.911
x1             0.7182      0.058     12.286      0.000       0.602       0.834
==============================================================================
Omnibus:                        1.387   Durbin-Watson:                   1.738
Prob(Omnibus):                  0.500   Jarque-Bera (JB):                0.860
Skew:                          -0.104   Prob(JB):                        0.650
Kurtosis:                       3.404   Cond. No.                         32.8
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [39]:
# Hãy phân tích sự ảnh hưởng của điểm toán học kì 1,2 (T5,T6) năm lớp 12 đến điểm LOGIC
# Logic = f(T5,T6)
# Logic = A0 + A1 *T5 + A2 *T6 + E

# R-Square = 0.097 ~ 9,7%
# Prob(F-Statis) = 0.00699 < anpha (mô hình này có ý nghĩa thống kê)
#          Coef           P>|T|
# const    2.71          0.000
# x1      -0.09          0.410 > anpha ( không có ý nghĩa thống kê trong PT)
# x2       0.31          0.011 < anpha ( có ý nghĩa thống kê trong PT)

# => Logic = 2.71 - 0.09 * T5 + 0.31 * T6 
# # Cho biết nếu T5 = 6.0 và T6 = 5.5 thì dự đoán học sinh đi thi sẽ được điểm LOGIC là nhiêu
# => Logic = 2.71 - 0.09 * 6.0 + 0.31 * 5.5 = 3.875 
#       Predicted

import statsmodels.api as sm
#adding a constant
X_with_constant = sm.add_constant(df[["T5","T6"]].values)
y = df[['LOGIC']].values
#performing the regression
result = sm.OLS(y, X_with_constant).fit()
# Result of statsmodels
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.097
Model:                            OLS   Adj. R-squared:                  0.079
Method:                 Least Squares   F-statistic:                     5.226
Date:                Sun, 10 Sep 2023   Prob (F-statistic):            0.00699
Time:                        11:01:43   Log-Likelihood:                -142.11
No. Observations:                 100   AIC:                             290.2
Df Residuals:                      97   BIC:                             298.0
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          2.7072      0.539      5.026      0.000       1.638       3.776
x1            -0.0913      0.110     -0.828      0.410      -0.310       0.128
x2             0.3115      0.120      2.606      0.011       0.074       0.549
==============================================================================
Omnibus:                       14.098   Durbin-Watson:                   2.005
Prob(Omnibus):                  0.001   Jarque-Bera (JB):               17.272
Skew:                           0.745   Prob(JB):                     0.000178
Kurtosis:                       4.387   Cond. No.                         52.7
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.