In [15]:
import pyodbc
conn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};'
                        'SERVER=localhost;'
                        'DATABASE=dbPythonTestSQL;'
                        'UID=sa;'        
                        'PWD=123456;')
                        # 'Trusted_Connection=yes;')

In [16]:
cursor = conn.cursor()

In [17]:
# a. Lấy thông tin nhân viên có tuổi nhỏ hơn 35
cursor.execute('SELECT * FROM tblUsers WHERE YEAR(GETDATE()) - YEAR(ubirthday) < 35')
for i in cursor:
    print(i)

('u0001', 'Henry', datetime.date(2001, 7, 31), 125.5, 1)
('u0002', 'Peter', datetime.date(1990, 8, 25), 650.0, 1)
('u0003', 'Owen', datetime.date(1995, 2, 28), 275.5, 2)
('u0004', 'Jackson', datetime.date(2002, 4, 25), 400.0, 4)
('u0005', 'Ellite', datetime.date(2000, 5, 20), 600.0, 3)

In [18]:
# b. Lấy thông tin uname và tuổi (age) của tất cả các nhân viên
cursor.execute('SELECT uname, YEAR(GETDATE()) - YEAR(ubirthday) AS age FROM tblUsers')
for i in cursor:
    print(i)

('Henry', 22)
('Peter', 33)
('Owen', 28)
('Jackson', 21)
('Ellite', 23)

In [19]:
# c. Thêm nhân viên mới (u0006,”David”,”07-22-2000”,450,5)
cursor.execute("INSERT INTO tblUsers VALUES ('u0006', 'David', '07-22-2000', 450, 5)")
conn.commit()

In [20]:
# d. Cập nhật lương của nhân viên u0002 thành 650
cursor.execute("UPDATE tblUsers SET usalary=650 WHERE uid='u0002'")
conn.commit()

In [21]:
# e. Xóa nhân viên u0006
cursor.execute("DELETE FROM tblUsers WHERE uid='u0006'")
conn.commit()